.rules-item{
  color: #ffa86a !important;
  background-color: #3b3b42!important;
  border-color: #222129!important;
  border-radius: 5px !important;
}

.rules-item-wins-text {
  color: green;
}
.rules-item-losses-text{
  color: red;
}
