.title-game {
  margin-bottom: 10px;
  margin-top: 2px;
}

.game-modal{
  background-color: #110F1E !important;
  border: transparent !important;
}

.game-menu-container {
  border:solid #110F1E !important;
  border-radius: 5px;
}
